<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huajie.infrastructure.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="com.huajie.domain.entity.Region">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="region_level" jdbcType="VARCHAR" property="regionLevel" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="government_name" jdbcType="VARCHAR" property="governmentName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
</mapper>